# Question 1 - (1)

In [22]:
from itertools import combinations
# Generate all the combinations for nCk
def listQuorum(n,k):
    votingSet = [set(process) for process in list(combinations([i for i in range(1,n+1)],k))]
    vSize=len(votingSet)
    i=0
    while(i<vSize):
        l1=[]
        for j in range(i+1, vSize):
            if len(votingSet[i].intersection(votingSet[j]))!=1:
                l1.append(j)
    
        l1.reverse()
        for x in l1:
            votingSet.pop(x)
        i=i+1
        vSize=len(votingSet)
    return votingSet

In [23]:
listQuorum(5,3)

[{1, 2, 3}, {1, 4, 5}]

In [24]:
listQuorum(4,2)

[{1, 2}, {1, 3}, {1, 4}]

In [25]:
listQuorum(8,3)

[{1, 2, 3}, {1, 4, 5}, {1, 6, 7}, {2, 4, 6}, {2, 5, 7}, {3, 4, 7}, {3, 5, 6}]

In [26]:
listQuorum(20,5)

[{1, 2, 3, 4, 5},
 {1, 6, 7, 8, 9},
 {1, 10, 11, 12, 13},
 {1, 14, 15, 16, 17},
 {2, 6, 10, 14, 18},
 {2, 7, 11, 15, 19},
 {2, 8, 12, 16, 20},
 {3, 6, 11, 17, 20},
 {3, 7, 13, 16, 18},
 {3, 9, 12, 14, 19}]

# Question 1 - (2)

In [27]:
def MaekawaAlgorithm(n, k , pi):

    Quorum = listQuorum(n,k)

    voted=['FALSE' for x in range(n)]
    state=['Released' for x in range(n)]

    #for Pi to enter citical region

    state[pi]='WANTED'

    #Find the voting list of Pi
    for subset in Quorum:
        if pi in subset:
            listVoting=subset
            break

    #Multicast request to all process in Vi
    print(f" Process {pi} sent the request to processes in voting list {listVoting}")

    #Wait until(number of replies recieved =K)
    count=0
    waitingList=[]

    for process in listVoting:
        if state[process]=='HELD' or voted[process]=='TRUE':
            waitingList.append(process)
        else:
            voted[process]='TRUE'
            count=count+1


    if count==k:
        print(f" Process {pi} entered into Critical Section")
        state[pi]='HELD'


    #for Pi to exit the critical section
    state[pi]='RELEASED'
    print(f" Multicast release to all processes in voting list {listVoting}")

    #On Reciept of a release from Pi at Pj
    for x in listVoting:
        if len(waitingList)!=0:
            Pw= waitingList.pop(0)
            voted[Pw]='TRUE'
        else:
            voted[x]='FALSE'

In [28]:
MaekawaAlgorithm(20, 5 , 6)

 Process 6 sent the request to processes in voting list {1, 6, 7, 8, 9}
 Process 6 entered into Critical Section
 Multicast release to all processes in voting list {1, 6, 7, 8, 9}

# Question 1 - (3)

Deadlock will occur when process A is waiting for process B and process B is waiting for process A.
For example.

Process 6 want to go in Critical session wand waiting for approval in quorum {1, 6, 7, 8, 9}

Process 8 also want to go in Critical session wand waiting for approval in quorum {2, 8, 12, 16, 20}

Process 7 also want to go in Critical session wand waiting for approval in quorum {3, 7, 13, 16, 18}

Since all three process are dependent on each other deadlock will happened

# Question 2

In [29]:
import pandas as pd
import numpy as np

In [30]:
data=pd.read_csv('C:\\Users\\manisha\\Desktop\\Data Science\\assignment2_q2.csv')

In [31]:
data

   Machine 0  Machine 1 Machine 2  Machine 3 Machine 4  Machine 5  Machine 6
0         13         79        23         71        60         27          2
1         31         13        14         94        60         61         57
2         17          1         -         23        36          8         86
3         19         28        10          4        58         73         40
4         94         75         -         58         -         68         46
5          8         24         3         32         4         94         89
6         10         57        13          1        92         75         29
7         80         17        38         40        66         25         88

In [32]:
data=data.replace('-', 999)
data=data.astype('int64')
data

   Machine 0  Machine 1  Machine 2  Machine 3  Machine 4  Machine 5  Machine 6
0         13         79         23         71         60         27          2
1         31         13         14         94         60         61         57
2         17          1        999         23         36          8         86
3         19         28         10          4         58         73         40
4         94         75        999         58        999         68         46
5          8         24          3         32          4         94         89
6         10         57         13          1         92         75         29
7         80         17         38         40         66         25         88

In [33]:
def MinMinAlgorithm(df):
    data=df.copy()
    numIter=data.shape[0]
    num_cols=data.shape[1]
    
    for x in range(numIter):
        num_rows=data.shape[0]
        min_time=data.iloc[0,0]
        min_machine=data.columns[0]
        min_task=data.index[0]
        for i in range(num_rows):  
            for j in range(num_cols):
                if data.iloc[i,j]<min_time:
                    min_time=data.iloc[i,j]
                    min_machine=data.columns[j]
                    min_task=data.index[i]
        print(f"Assign Task {min_task} to {min_machine} which has minimum completetion time {min_time}")
        data.drop(min_task, axis=0, inplace=True)
        data[min_machine] = data[min_machine].apply(lambda val: val + min_time)

In [34]:
MinMinAlgorithm(data)

Assign Task 2 to Machine 1 which has minimum completetion time 1
Assign Task 6 to Machine 3 which has minimum completetion time 1
Assign Task 0 to Machine 6 which has minimum completetion time 2
Assign Task 5 to Machine 2 which has minimum completetion time 3
Assign Task 3 to Machine 3 which has minimum completetion time 5
Assign Task 1 to Machine 1 which has minimum completetion time 14
Assign Task 7 to Machine 5 which has minimum completetion time 25
Assign Task 4 to Machine 6 which has minimum completetion time 48

In [35]:
def MaxMinAlgorithm(df):
    data=df.copy()
    numIter=data.shape[0]
    num_cols=data.shape[1]
    
    for x in range(numIter):
        num_rows=data.shape[0]
        temp_list=[]
        for i in range(num_rows):  
            min_time=data.iloc[i,0]
            min_machine=data.columns[0]
            min_task=data.index[i]
            for j in range(num_cols):
                if data.iloc[i,j]<min_time:
                    min_time=data.iloc[i,j]
                    min_machine=data.columns[j]
                    min_task=data.index[i]
            temp_list.append((min_time, min_machine,min_task))
        temp_list=sorted(temp_list, key=lambda x: x[0], reverse=True)
        print(f"Assign Task {temp_list[0][2]} to {temp_list[0][1]} which has minimum completetion time {temp_list[0][0]}")
        data.drop(temp_list[0][2], axis=0, inplace=True)
        data[temp_list[0][1]] = data[temp_list[0][1]].apply(lambda val: val + temp_list[0][0])

In [36]:
MaxMinAlgorithm(data)

Assign Task 4 to Machine 6 which has minimum completetion time 46
Assign Task 7 to Machine 1 which has minimum completetion time 17
Assign Task 1 to Machine 2 which has minimum completetion time 14
Assign Task 0 to Machine 0 which has minimum completetion time 13
Assign Task 2 to Machine 5 which has minimum completetion time 8
Assign Task 3 to Machine 3 which has minimum completetion time 4
Assign Task 6 to Machine 3 which has minimum completetion time 5
Assign Task 5 to Machine 4 which has minimum completetion time 4

In [37]:
def SufferageAlgorithm(df):
    data=df.copy()
    numIter=data.shape[0]
    num_cols=data.shape[1]
    
    for x in range(numIter):
        num_rows=data.shape[0]
        temp_list=[]
        for i in range(num_rows):  
            min_time_1=data.iloc[i,0]
            min_time_2=data.iloc[i,1]
            min_machine=data.columns[0]
            min_task=data.index[i]
            for j in range(1, num_cols):
                if data.iloc[i,j]<min_time_1:
                    min_time_2=min_time_1.copy()
                    min_time_1=data.iloc[i,j].copy()
                    min_machine=data.columns[j]
                    min_task=data.index[i]
                elif data.iloc[i,j] < min_time_2:
                    min_time_2=data.iloc[i,j].copy()
            temp_list.append((min_time_1, min_machine,min_task,(min_time_2 - min_time_1)))
            temp_list=sorted(temp_list, key=lambda x: x[3], reverse=True)
        print(f"Assign Task {temp_list[0][2]} to {temp_list[0][1]} which has minimum completetion time {temp_list[0][0]}")
        data.drop(temp_list[0][2], axis=0, inplace=True)
        data[temp_list[0][1]] = data[temp_list[0][1]].apply(lambda val: val + temp_list[0][0])

In [38]:
SufferageAlgorithm(data)

Assign Task 4 to Machine 6 which has minimum completetion time 46
Assign Task 0 to Machine 0 which has minimum completetion time 13
Assign Task 6 to Machine 3 which has minimum completetion time 1
Assign Task 7 to Machine 1 which has minimum completetion time 17
Assign Task 1 to Machine 2 which has minimum completetion time 14
Assign Task 3 to Machine 3 which has minimum completetion time 5
Assign Task 5 to Machine 4 which has minimum completetion time 4
Assign Task 2 to Machine 5 which has minimum completetion time 8